


.b-shadow {
  box-shadow: rgb(0 0 0 / 5%) 0px 6px 10px;
}

.table>:not(:first-child) {
  border-top: 2px solid #dee2e6;
}

.left-icon {
  width: 50px;
}

.footer-item {
  display: inline-block;
  width: 160px;
}


._bs2 #videoEl {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  object-fit: cover;
  top: 0;
  left: 0;
  pointer-events: none;
}

video::-webkit-media-controls {
  display:none !important;
}

video::-webkit-media-controls-enclosure {
  display:none !important;
}


._bs2 #app {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

._bs2 #button-conn {
  text-align: center;
  margin-bottom: 1rem;
}

._bs2 #header-container {
  text-align: center;
  
}

._bs2 #webomatic {
 
  color: rgba(226, 226, 226, 0.8);
  
  font-size: 2rem;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-family: Comfortaa;

  position: relative;
}

._bs2 #webomatic #w_webo {
  background: rgba(226, 226, 226, 0.8);
  color:rgba(20, 20, 20, 0.95);
  font-weight: bold;
  border-radius: 6px;
  padding: 12px;
}

._bs2 #webomatic:hover 
{
  color: rgba(226, 226, 226, 0.9);
}

._bs2 #webomatic:hover #w_webo 
{
  background: rgba(226, 226, 226, 0.9);
  color:rgba(20, 20, 20, 0.95);
}

._bs2 #conflux-logo {
  height: 4rem;
}

._bs2 #top-notice .alert-primary {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

._bs2 #top-notice ul,
._bs2 #top-notice li {
  margin: 0;
}

._bs2 #old-news .alert-primary {
  padding-top: 0.75rem;
  padding-bottom: 1rem;
  padding-left: 0;
}

._bs2 #old-news ul,
._bs2 #old-news li {
  margin: 0;
}

._bs2 .alert-primary {
  background-color: rgba(95, 28, 50, 0.8);
  color: rgb(238, 198, 198);
  border: 0px solid;
}

._bs2 .alert-secondary {
  background-color: rgba(63, 24, 37, 0.35);
  color: rgb(253, 76, 135);
  border: 0px solid;
  font-weight: bold;
  font-family: Comfortaa;
  text-align: center;
}

._bs2 #info-container {
  background-color: rgba(95, 28, 50, 0.8);
  color: rgb(245,245,245);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
}

._bs2 .info-wrap {
  float: left;
  width: 14.166666%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-left: 1.5%;
  font-family: Comfortaa;
}

._bs2 .icon-left {
  height: 2.5rem;
  display: inline-block;
  font-size: 3rem;
}

._bs2 .info-right {
  margin-left: 1rem;
  height: 2.5rem;
  float: right;
  width: 60%;
  font-size: 0.9rem;
}

._bs2 .h-num {
  font-size: 1.35rem;
  font-weight: bold;
}

._bs2 .h-addr {
  font-size: 1.15rem;
}

._bs2 .h-ok {
  color: rgb(138, 255, 138);
}

._bs2 .h-err {
  color: rgb(255, 182, 182);
}

._bs2 .h-addr A {
  color: rgb(146, 221, 255);
}

._bs2 .intro-title {
  color: rgb(214, 151, 151);
}

._bs2 #staking-info-container {
  background-color: rgba(63, 24, 37, 0.35);
  color: rgb(253, 76, 135);
  padding-top: 1.5rem;
  padding-bottom: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  overflow: hidden;
  max-width: 100%;
  width: 100%;
}

._bs2 .staking-wrap {
  float: left;
  width: 22%;
  max-width: 100%;
  margin-bottom: 1rem;
  margin-left: 2%;
  font-family: Comfortaa;
}

._bs2 .staking-wrap:first-child {
  margin-left: 2%;
}

._bs2 .staking-wrap:last-child {
  margin-right: 2%;
}

._bs2 .input-1 {
  width: 55%;
  display: inline-block;
  margin-top: 0.5rem;
}

._bs2 .button-1 {
  display: inline-block;
  margin-left: 0.75rem;
  margin-top: 0.5rem;
}

._bs2 .button-2 {
  margin-top: 0.5rem;
}

._bs2 #rules-header,
._bs2 #old-news-header,
._bs2 #reward-header {
  color: rgb(253, 76, 135);
  margin-bottom: 1rem;
  margin-top: 1rem;
  padding-left: 0.5rem;
}

._bs2 #rules-container {
  background-color: rgba(95, 28, 50, 0.8);
  color: rgb(238, 198, 198);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  padding-right: 1rem;
}

._bs2 #footer-container {
  margin-bottom: 4rem;
  text-align: center;
}

._bs2 #votes-container {
  background-color: rgba(63, 24, 37, 0.35);
  color: rgb(253, 76, 135);
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 1rem;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

._bs2 #votes-container h5 {
  color: #efefef;
}

._bs2 #reward-chart-wrapper {
  background-color: rgba(63, 24, 37, 0.35);
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

._bs2 .loader_pulse_circle {
  width: 44px;
  height: 44px;
}

._bs2 .stroke-light, ._bs2.stroke-light {
  stroke: #f6f6f6;
}
._bs2 a.stroke-light:hover, ._bs2 a.stroke-light:focus, a._bs2.stroke-light:hover, a._bs2.stroke-light:focus {
  stroke: #d0d0d0;
}

@media only screen and (max-width: 840px) {

  ._bs2 .info-wrap {
    width: 23%;
    margin-bottom: 2rem;
    margin-left: 2%;
  }

  ._bs2 .icon-left {
    font-size: 2.75rem;
  }

  ._bs2 .info-right {
    
  }

  ._bs2 .staking-wrap {
    width: 30%;
    margin-bottom: 2rem;
    margin-left: 2%;
    float: left;
    display: block;
  }
  
  ._bs2 .input-1 {
    width: 53%;
  }

  ._bs2 .staking-wrap:last-child {
    margin-right: 0;
  }

  ._bs2 #header-container h1 {
    font-size: 2.25rem;
    margin-bottom: 1.5rem;
  }

  ._bs2 #header-container p {
    font-size: 1rem;
  }

}

@media only screen and (max-width: 620px) {

  ._bs2 #top-notice {
    margin-top: 1.25rem;
  }

  ._bs2 #top-notice .alert-primary {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
  }

  ._bs2 #old-news {
    margin-top: 1.25rem;
  }

  ._bs2 #old-news .alert-primary {
    padding-top: 1.25rem;
    padding-bottom: 1.5rem;
    padding-left: 0;
  }
  

  ._bs2 #rules-header,
  ._bs2 #old-news-header {
    margin-left: 0.5rem;
  }

  ._bs2 .info-wrap {
    width: 46%;
    margin-bottom: 2rem;
    margin-left: 4%;
  }

  ._bs2 .icon-left {
    font-size: 2.75rem;
  }

  ._bs2 .info-right {
    font-size: 0.8rem;
  }

  ._bs2 .staking-wrap {
    width: 90%;
    margin-bottom: 2rem;
    margin-left: 2%;
    float: left;
    display: block;
    padding-left: 1rem;
  }
  
  ._bs2 .staking-wrap:last-child {
    margin-right: 0;
  }

  ._bs2 #conflux-logo {
    height: 3rem;
  }

  ._bs2 #header-container h1 {
    font-size: 1.25rem;
    margin-bottom: 1.5rem;
  }

  ._bs2 #header-container p {
    font-size: 0.95rem;
  }

}

@media only screen and (max-width: 440px) {

  ._bs2 #videoEl {
    width: 100vw;
    height: 100vh;
  }

}
